In [2]:
import pandas as pd
import transfermarkt_crawler as trcr

<tr class="odd">
<td class="zentriert">1</td><td class=""><table class="inline-table"><tr><td rowspan="2"><a href="#"><img alt="Kylian Mbappé" class="bilderrahmen-fixed" src="https://img.a.transfermarkt.technology/portrait/small/342229-1602849394.jpg?lm=1" title="Kylian Mbappé"/></a></td><td class="hauptlink"><a class="spielprofil_tooltip" href="/kylian-mbappe/profil/spieler/342229" id="342229" title="Kylian Mbappé">Kylian Mbappé</a></td></tr><tr><td>Centre-Forward</td></tr></table></td><td class="zentriert">22</td><td class="zentriert"><img alt="France" class="flaggenrahmen" src="https://tmssl.akamaized.net/images/flagge/verysmall/50.png?lm=1520611569" title="France"/></td><td class="zentriert"><a class="vereinprofil_tooltip" href="/fc-paris-saint-germain/startseite/verein/583" id="583"><img alt="Paris Saint-Germain" class="" src="https://tmssl.akamaized.net/images/wappen/verysmall/583.png?lm=1522312728" title=" "/></a></td><td class="rechts hauptlink"><b>€180.00m</b><span class="icons_sprite grey-block-ten" title="€180.00m"> </span></td></tr>
25
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25']
['Kylian Mbappé', 'Neymar', 'Sadio Mané', 'Mohamed Salah', 'Harry Kane', 'Kevin De Bruyne', 'Trent Alexander-Arnold', 'Raheem Sterling', 'João Félix', 'Erling Haaland', 'Jadon Sancho', 'Bruno Fernandes', 'Serge Gnabry', 'Jan Oblak', 'Romelu Lukaku', 'Heung-min Son', 'Joshua Kimmich', 'Kai Havertz', 'Ansu Fati', 'Alphonso Davies', 'Marcus Rashford', 'Virgil van Dijk', 'Alisson', 'Lionel Messi', 'Matthijs de Ligt']
['Centre-Forward', 'Left Winger', 'Left Winger', 'Right Winger', 'Centre-Forward', 'Attacking Midfield', 'Right-Back', 'Left Winger', 'Second Striker', 'Centre-Forward', 'Right Winger', 'Attacking Midfield', 'Right Winger', 'Goalkeeper', 'Centre-Forward', 'Left Winger', 'Defensive Midfield', 'Attacking Midfield', 'Left Winger', 'Left-Back', 'Left Winger', 'Centre-Back', 'Goalkeeper', 'Right Winger', 'Centre-Back']
[22, 28, 28, 28, 27, 29, 22, 26, 21, 20, 20, 26, 25, 28, 27, 28, 25, 21, 18, 20, 23, 29, 28, 33, 21]
['France', 'Brazil', 'Senegal', 'Egypt', 'England', 'Belgium', 'England', 'England', 'Portugal', 'Norway', 'England', 'Portugal', 'Germany', 'Slovenia', 'Belgium', 'Korea, South', 'Germany', 'Germany', 'Spain', 'Canada', 'England', 'Netherlands', 'Brazil', 'Argentina', 'Netherlands']
['Paris Saint-Germain', 'Paris Saint-Germain', 'Liverpool FC', 'Liverpool FC', 'Tottenham Hotspur', 'Manchester City', 'Liverpool FC', 'Manchester City', 'Atlético Madrid', 'Borussia Dortmund', 'Borussia Dortmund', 'Manchester United', 'Bayern Munich', 'Atlético Madrid', 'Inter Milan', 'Tottenham Hotspur', 'Bayern Munich', 'Chelsea FC', 'FC Barcelona', 'Bayern Munich', 'Manchester United', 'Liverpool FC', 'Liverpool FC', 'FC Barcelona', 'Juventus FC']
['€180.00m', '€128.00m', '€120.00m', '€120.00m', '€120.00m', '€120.00m', '€110.00m', '€110.00m', '€100.00m', '€100.00m', '€100.00m', '€90.00m', '€90.00m', '€90.00m', '€90.00m', '€90.00m', '€85.00m', '€81.00m', '€80.00m', '€80.00m', '€80.00m', '€80.00m', '€80.00m', '€80.00m', '€75.00m']
<tr class="odd">
<td class="zentriert">26</td><td class=""><table class="inline-table"><tr><td rowspan="2"><a href="#"><img alt="Andrew Robertson" class="bilderrahmen-fixed" src="https://img.a.transfermarkt.technology/portrait/small/234803-1559827085.jpg?lm=1" title="Andrew Robertson"/></a></td><td class="hauptlink"><a class="spielprofil_tooltip" href="/andrew-robertson/profil/spieler/234803" id="234803" title="Andrew Robertson">Andrew Robertson</a></td></tr><tr><td>Left-Back</td></tr></table></td><td class="zentriert">26</td><td class="zentriert"><img alt="Scotland" class="flaggenrahmen" src="https://tmssl.akamaized.net/images/flagge/verysmall/190.png?lm=1520611569" title="Scotland"/></td><td class="zentriert"><a class="vereinprofil_tooltip" href="/fc-liverpool/startseite/verein/31" id="31"><img alt="Liverpool FC" class="" src="https://tmssl.akamaized.net/images/wappen/verysmall/31.png?lm=1456567819" title=" "/></a></td><td class="rechts hauptlink"><b>€75.00m</b><span class="icons_sprite green-arrow-ten" title="€64.00m"> </span></td></tr>
25
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50']
['Kylian Mbappé', 'Neymar', 'Sadio Mané', 'Mohamed Salah', 'Harry Kane', 'Kevin De Bruyne', 'Trent Alexander-Arnold', 'Raheem Sterling', 'João Félix', 'Erling Haaland', 'Jadon Sancho', 'Bruno Fernandes', 'Serge Gnabry', 'Jan Oblak', 'Romelu Lukaku', 'Heung-min Son', 'Joshua Kimmich', 'Kai Havertz', 'Ansu Fati', 'Alphonso Davies', 'Marcus Rashford', 'Virgil van Dijk', 'Alisson', 'Lionel Messi', 'Matthijs de Ligt', 'Andrew Robertson', 'Thibaut Courtois', 'Marc-André ter Stegen', 'Roberto Firmino', 'Lautaro Martínez', 'Federico Valverde', 'Mikel Oyarzabal', 'Sergej Milinkovic-Savic', 'Bernardo Silva', 'Paulo Dybala', 'Leroy Sané', 'Marquinhos', 'Timo Werner', 'Raphaël Varane', 'Casemiro', 'Frenkie de Jong', 'José María Giménez', 'Paul Pogba', 'David Alaba', 'Rodri', 'Eduardo Camavinga', 'Phil Foden', 'Richarlison', 'Gabriel Jesus', 'Dayot Upamecano']
['Centre-Forward', 'Left Winger', 'Left Winger', 'Right Winger', 'Centre-Forward', 'Attacking Midfield', 'Right-Back', 'Left Winger', 'Second Striker', 'Centre-Forward', 'Right Winger', 'Attacking Midfield', 'Right Winger', 'Goalkeeper', 'Centre-Forward', 'Left Winger', 'Defensive Midfield', 'Attacking Midfield', 'Left Winger', 'Left-Back', 'Left Winger', 'Centre-Back', 'Goalkeeper', 'Right Winger', 'Centre-Back', 'Left-Back', 'Goalkeeper', 'Goalkeeper', 'Centre-Forward', 'Centre-Forward', 'Central Midfield', 'Left Winger', 'Central Midfield', 'Right Winger', 'Second Striker', 'Left Winger', 'Centre-Back', 'Centre-Forward', 'Centre-Back', 'Defensive Midfield', 'Central Midfield', 'Centre-Back', 'Central Midfield', 'Centre-Back', 'Defensive Midfield', 'Central Midfield', 'Central Midfield', 'Centre-Forward', 'Centre-Forward', 'Centre-Back']
[22, 28, 28, 28, 27, 29, 22, 26, 21, 20, 20, 26, 25, 28, 27, 28, 25, 21, 18, 20, 23, 29, 28, 33, 21, 26, 28, 28, 29, 23, 22, 23, 25, 26, 27, 25, 26, 24, 27, 28, 23, 26, 27, 28, 24, 18, 20, 23, 23, 22]
['France', 'Brazil', 'Senegal', 'Egypt', 'England', 'Belgium', 'England', 'England', 'Portugal', 'Norway', 'England', 'Portugal', 'Germany', 'Slovenia', 'Belgium', 'Korea, South', 'Germany', 'Germany', 'Spain', 'Canada', 'England', 'Netherlands', 'Brazil', 'Argentina', 'Netherlands', 'Scotland', 'Belgium', 'Germany', 'Brazil', 'Argentina', 'Uruguay', 'Spain', 'Serbia', 'Portugal', 'Argentina', 'Germany', 'Brazil', 'Germany', 'France', 'Brazil', 'Netherlands', 'Uruguay', 'France', 'Austria', 'Spain', 'France', 'England', 'Brazil', 'Brazil', 'France']
['Paris Saint-Germain', 'Paris Saint-Germain', 'Liverpool FC', 'Liverpool FC', 'Tottenham Hotspur', 'Manchester City', 'Liverpool FC', 'Manchester City', 'Atlético Madrid', 'Borussia Dortmund', 'Borussia Dortmund', 'Manchester United', 'Bayern Munich', 'Atlético Madrid', 'Inter Milan', 'Tottenham Hotspur', 'Bayern Munich', 'Chelsea FC', 'FC Barcelona', 'Bayern Munich', 'Manchester United', 'Liverpool FC', 'Liverpool FC', 'FC Barcelona', 'Juventus FC', 'Liverpool FC', 'Real Madrid', 'FC Barcelona', 'Liverpool FC', 'Inter Milan', 'Real Madrid', 'Real Sociedad', 'SS Lazio', 'Manchester City', 'Juventus FC', 'Bayern Munich', 'Paris Saint-Germain', 'Chelsea FC', 'Real Madrid', 'Real Madrid', 'FC Barcelona', 'Atlético Madrid', 'Manchester United', 'Bayern Munich', 'Manchester City', 'Stade Rennais FC', 'Manchester City', 'Everton FC', 'Manchester City', 'RB Leipzig']
['€180.00m', '€128.00m', '€120.00m', '€120.00m', '€120.00m', '€120.00m', '€110.00m', '€110.00m', '€100.00m', '€100.00m', '€100.00m', '€90.00m', '€90.00m', '€90.00m', '€90.00m', '€90.00m', '€85.00m', '€81.00m', '€80.00m', '€80.00m', '€80.00m', '€80.00m', '€80.00m', '€80.00m', '€75.00m', '€75.00m', '€75.00m', '€75.00m', '€72.00m', '€70.00m', '€70.00m', '€70.00m', '€70.00m', '€70.00m', '€70.00m', '€70.00m', '€70.00m', '€70.00m', '€70.00m', '€70.00m', '€65.00m', '€65.00m', '€65.00m', '€65.00m', '€64.00m', '€60.00m', '€60.00m', '€60.00m', '€60.00m', '€60.00m']
   number                     name            position   nationality  age  \
0       1            Kylian Mbappé      Centre-Forward        France   22
1       2                   Neymar         Left Winger        Brazil   28
2       3               Sadio Mané         Left Winger       Senegal   28
3       4            Mohamed Salah        Right Winger         Egypt   28
4       5               Harry Kane      Centre-Forward       England   27
5       6          Kevin De Bruyne  Attacking Midfield       Belgium   29
6       7   Trent Alexander-Arnold          Right-Back       England   22
7       8          Raheem Sterling         Left Winger       England   26
8       9               João Félix      Second Striker      Portugal   21
9      10           Erling Haaland      Centre-Forward        Norway   20
10     11             Jadon Sancho        Right Winger       England   20
11     12          Bruno Fernandes  Attacking Midfield      Portugal   26
12     13             Serge Gnabry        Right Winger       Germany   25
13     14                Jan Oblak          Goalkeeper      Slovenia   28
14     15            Romelu Lukaku      Centre-Forward       Belgium   27
15     16            Heung-min Son         Left Winger  Korea, South   28
16     17           Joshua Kimmich  Defensive Midfield       Germany   25
17     18              Kai Havertz  Attacking Midfield       Germany   21
18     19                Ansu Fati         Left Winger         Spain   18
19     20          Alphonso Davies           Left-Back        Canada   20
20     21          Marcus Rashford         Left Winger       England   23
21     22          Virgil van Dijk         Centre-Back   Netherlands   29
22     23                  Alisson          Goalkeeper        Brazil   28
23     24             Lionel Messi        Right Winger     Argentina   33
24     25         Matthijs de Ligt         Centre-Back   Netherlands   21
25     26         Andrew Robertson           Left-Back      Scotland   26
26     27         Thibaut Courtois          Goalkeeper       Belgium   28
27     28    Marc-André ter Stegen          Goalkeeper       Germany   28
28     29          Roberto Firmino      Centre-Forward        Brazil   29
29     30         Lautaro Martínez      Centre-Forward     Argentina   23
30     31        Federico Valverde    Central Midfield       Uruguay   22
31     32          Mikel Oyarzabal         Left Winger         Spain   23
32     33  Sergej Milinkovic-Savic    Central Midfield        Serbia   25
33     34           Bernardo Silva        Right Winger      Portugal   26
34     35             Paulo Dybala      Second Striker     Argentina   27
35     36               Leroy Sané         Left Winger       Germany   25
36     37               Marquinhos         Centre-Back        Brazil   26
37     38              Timo Werner      Centre-Forward       Germany   24
38     39           Raphaël Varane         Centre-Back        France   27
39     40                 Casemiro  Defensive Midfield        Brazil   28
40     41          Frenkie de Jong    Central Midfield   Netherlands   23
41     42       José María Giménez         Centre-Back       Uruguay   26
42     43               Paul Pogba    Central Midfield        France   27
43     44              David Alaba         Centre-Back       Austria   28
44     45                    Rodri  Defensive Midfield         Spain   24
45     46        Eduardo Camavinga    Central Midfield        France   18
46     47               Phil Foden    Central Midfield       England   20
47     48              Richarlison      Centre-Forward        Brazil   23
48     49            Gabriel Jesus      Centre-Forward        Brazil   23
49     50          Dayot Upamecano         Centre-Back        France   22

                   team market_val
0   Paris Saint-Germain   €180.00m
1   Paris Saint-Germain   €128.00m
2          Liverpool FC   €120.00m
3          Liverpool FC   €120.00m
4     Tottenham Hotspur   €120.00m
5       Manchester City   €120.00m
6          Liverpool FC   €110.00m
7       Manchester City   €110.00m
8       Atlético Madrid   €100.00m
9     Borussia Dortmund   €100.00m
10    Borussia Dortmund   €100.00m
11    Manchester United    €90.00m
12        Bayern Munich    €90.00m
13      Atlético Madrid    €90.00m
14          Inter Milan    €90.00m
15    Tottenham Hotspur    €90.00m
16        Bayern Munich    €85.00m
17           Chelsea FC    €81.00m
18         FC Barcelona    €80.00m
19        Bayern Munich    €80.00m
20    Manchester United    €80.00m
21         Liverpool FC    €80.00m
22         Liverpool FC    €80.00m
23         FC Barcelona    €80.00m
24          Juventus FC    €75.00m
25         Liverpool FC    €75.00m
26          Real Madrid    €75.00m
27         FC Barcelona    €75.00m
28         Liverpool FC    €72.00m
29          Inter Milan    €70.00m
30          Real Madrid    €70.00m
31        Real Sociedad    €70.00m
32             SS Lazio    €70.00m
33      Manchester City    €70.00m
34          Juventus FC    €70.00m
35        Bayern Munich    €70.00m
36  Paris Saint-Germain    €70.00m
37           Chelsea FC    €70.00m
38          Real Madrid    €70.00m
39          Real Madrid    €70.00m
40         FC Barcelona    €65.00m
41      Atlético Madrid    €65.00m
42    Manchester United    €65.00m
43        Bayern Munich    €65.00m
44      Manchester City    €64.00m
45     Stade Rennais FC    €60.00m
46      Manchester City    €60.00m
47           Everton FC    €60.00m
48      Manchester City    €60.00m
49           RB Leipzig    €60.00m

In [3]:
df_load = trcr.df
df_load

,number,name,position,nationality,age,team,market_val
0,1,Kylian Mbappé,Centre-Forward,France,22,Paris Saint-Germain,€180.00m
1,2,Neymar,Left Winger,Brazil,28,Paris Saint-Germain,€128.00m
2,3,Sadio Mané,Left Winger,Senegal,28,Liverpool FC,€120.00m
3,4,Mohamed Salah,Right Winger,Egypt,28,Liverpool FC,€120.00m
4,5,Harry Kane,Centre-Forward,England,27,Tottenham Hotspur,€120.00m
5,6,Kevin De Bruyne,Attacking Midfield,Belgium,29,Manchester City,€120.00m
6,7,Trent Alexander-Arnold,Right-Back,England,22,Liverpool FC,€110.00m
7,8,Raheem Sterling,Left Winger,England,26,Manchester City,€110.00m
8,9,João Félix,Second Striker,Portugal,21,Atlético Madrid,€100.00m
9,10,Erling Haaland,Centre-Forward,Norway,20,Borussia Dortmund,€100.00m
10,11,Jadon Sancho,Right Winger,England,20,Borussia Dortmund,€100.00m
11,12,Bruno Fernandes,Attacking Midfield,Portugal,26,Manchester United,€90.00m
12,13,Serge Gnabry,Right Winger,Germany,25,Bayern Munich,€90.00m
13,14,Jan Oblak,Goalkeeper,Slovenia,28,Atlético Madrid,€90.00m
14,15,Romelu Lukaku,Centre-Forward,Belgium,27,Inter Milan,€90.00m
15,16,Heung-min Son,Left Winger,"Korea, South",28,Tottenham Hotspur,€90.00m
16,17,Joshua Kimmich,Defensive Midfield,Germany,25,Bayern Munich,€85.00m
17,18,Kai Havertz,Attacking Midfield,Germany,21,Chelsea FC,€81.00m
18,19,Ansu Fati,Left Winger,Spain,18,FC Barcelona,€80.00m
19,20,Alphonso Davies,Left-Back,Canada,20,Bayern Munich,€80.00m
20,21,Marcus Rashford,Left Winger,England,23,Manchester United,€80.00m
21,22,Virgil van Dijk,Centre-Back,Netherlands,29,Liverpool FC,€80.00m
22,23,Alisson,Goalkeeper,Brazil,28,Liverpool FC,€80.00m
23,24,Lionel Messi,Right Winger,Argentina,33,FC Barcelona,€80.00m
24,25,Matthijs de Ligt,Centre-Back,Netherlands,21,Juventus FC,€75.00m
25,26,Andrew Robertson,Left-Back,Scotland,26,Liverpool FC,€75.00m
26,27,Thibaut Courtois,Goalkeeper,Belgium,28,Real Madrid,€75.00m
27,28,Marc-André ter Stegen,Goalkeeper,Germany,28,FC Barcelona,€75.00m
28,29,Roberto Firmino,Centre-Forward,Brazil,29,Liverpool FC,€72.00m
29,30,Lautaro Martínez,Centre-Forward,Argentina,23,Inter Milan,€70.00m
30,31,Federico Valverde,Central Midfield,Uruguay,22,Real Madrid,€70.00m
31,32,Mikel Oyarzabal,Left Winger,Spain,23,Real Sociedad,€70.00m
32,33,Sergej Milinkovic-Savic,Central Midfield,Serbia,25,SS Lazio,€70.00m
33,34,Bernardo Silva,Right Winger,Portugal,26,Manchester City,€70.00m
34,35,Paulo Dybala,Second Striker,Argentina,27,Juventus FC,€70.00m
35,36,Leroy Sané,Left Winger,Germany,25,Bayern Munich,€70.00m
36,37,Marquinhos,Centre-Back,Brazil,26,Paris Saint-Germain,€70.00m
37,38,Timo Werner,Centre-Forward,Germany,24,Chelsea FC,€70.00m
38,39,Raphaël Varane,Centre-Back,France,27,Real Madrid,€70.00m
39,40,Casemiro,Defensive Midfield,Brazil,28,Real Madrid,€70.00m
40,41,Frenkie de Jong,Central Midfield,Netherlands,23,FC Barcelona,€65.00m
41,42,José María Giménez,Centre-Back,Uruguay,26,Atlético Madrid,€65.00m
42,43,Paul Pogba,Central Midfield,France,27,Manchester United,€65.00m
43,44,David Alaba,Centre-Back,Austria,28,Bayern Munich,€65.00m
44,45,Rodri,Defensive Midfield,Spain,24,Manchester City,€64.00m
45,46,Eduardo Camavinga,Central Midfield,France,18,Stade Rennais FC,€60.00m
46,47,Phil Foden,Central Midfield,England,20,Manchester City,€60.00m
47,48,Richarlison,Centre-Forward,Brazil,23,Everton FC,€60.00m
48,49,Gabriel Jesus,Centre-Forward,Brazil,23,Manchester City,€60.00m
49,50,Dayot Upamecano,Centre-Back,France,22,RB Leipzig,€60.00m

In [4]:
rows, cols = df_load.shape
rows, cols

(50, 7)

In [5]:
df_load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   number       50 non-null     object
 1   name         50 non-null     object
 2   position     50 non-null     object
 3   nationality  50 non-null     object
 4   age          50 non-null     int64
 5   team         50 non-null     object
 6   market_val   50 non-null     object
dtypes: int64(1), object(6)
memory usage: 2.9+ KB

In [6]:
# 인덱싱
df_load[:5] #0, 1, 2, 3, 4

,number,name,position,nationality,age,team,market_val
0,1,Kylian Mbappé,Centre-Forward,France,22,Paris Saint-Germain,€180.00m
1,2,Neymar,Left Winger,Brazil,28,Paris Saint-Germain,€128.00m
2,3,Sadio Mané,Left Winger,Senegal,28,Liverpool FC,€120.00m
3,4,Mohamed Salah,Right Winger,Egypt,28,Liverpool FC,€120.00m
4,5,Harry Kane,Centre-Forward,England,27,Tottenham Hotspur,€120.00m

In [7]:
df_load["name"][:5] # df_load["name"].head()

0    Kylian Mbappé
1           Neymar
2       Sadio Mané
3    Mohamed Salah
4       Harry Kane
Name: name, dtype: object

In [8]:
df_load["number", "name", "market_val"] #에러 발생, 컬럼 여러개면 리스트로

KeyError: ('number', 'name', 'market_val')

In [9]:
df_load[["name", "team", "market_val"]][:5]

            name                 team market_val
0  Kylian Mbappé  Paris Saint-Germain   €180.00m
1         Neymar  Paris Saint-Germain   €128.00m
2     Sadio Mané         Liverpool FC   €120.00m
3  Mohamed Salah         Liverpool FC   €120.00m
4     Harry Kane    Tottenham Hotspur   €120.00m

In [10]:
#위 데이터에서 30번째에서 40번째 까지 데이터
df_load[["name", "team", "market_val"]][30:41]

                       name                 team market_val
30        Federico Valverde          Real Madrid    €70.00m
31          Mikel Oyarzabal        Real Sociedad    €70.00m
32  Sergej Milinkovic-Savic             SS Lazio    €70.00m
33           Bernardo Silva      Manchester City    €70.00m
34             Paulo Dybala          Juventus FC    €70.00m
35               Leroy Sané        Bayern Munich    €70.00m
36               Marquinhos  Paris Saint-Germain    €70.00m
37              Timo Werner           Chelsea FC    €70.00m
38           Raphaël Varane          Real Madrid    €70.00m
39                 Casemiro          Real Madrid    €70.00m
40          Frenkie de Jong         FC Barcelona    €65.00m

iloc와 loc
iloc는 가로 슬라이싱

In [11]:
df_load.iloc[0:2] # == df_load[0:2] 동일

,number,name,position,nationality,age,team,market_val
0,1,Kylian Mbappé,Centre-Forward,France,22,Paris Saint-Germain,€180.00m
1,2,Neymar,Left Winger,Brazil,28,Paris Saint-Germain,€128.00m

In [12]:
df_load.loc[0:2] #iloc와 다르게 마지막 숫자 2도 포함된다 0, 1, 2

,number,name,position,nationality,age,team,market_val
0,1,Kylian Mbappé,Centre-Forward,France,22,Paris Saint-Germain,€180.00m
1,2,Neymar,Left Winger,Brazil,28,Paris Saint-Germain,€128.00m
2,3,Sadio Mané,Left Winger,Senegal,28,Liverpool FC,€120.00m

In [13]:
# 쉼표로 행열 구분 df.loc[행, 열]
df_load.loc[0, 'name']

'Kylian Mbappé'

In [14]:
df_load.loc[2, ["name", "market_val"]]

name          Sadio Mané
market_val      €120.00m
Name: 2, dtype: object

In [15]:
df_load.loc[0:5, ["name", "team", "market_val"]]

              name                 team market_val
0    Kylian Mbappé  Paris Saint-Germain   €180.00m
1           Neymar  Paris Saint-Germain   €128.00m
2       Sadio Mané         Liverpool FC   €120.00m
3    Mohamed Salah         Liverpool FC   €120.00m
4       Harry Kane    Tottenham Hotspur   €120.00m
5  Kevin De Bruyne      Manchester City   €120.00m

In [16]:
df_load.shape

(50, 7)

In [17]:
#소속팀이 토트넘인 선수

df_load[df_load["team"] == "Tottenham Hotspur"]

,number,name,position,nationality,age,team,market_val
4,5,Harry Kane,Centre-Forward,England,27,Tottenham Hotspur,€120.00m
15,16,Heung-min Son,Left Winger,"Korea, South",28,Tottenham Hotspur,€90.00m

In [18]:
# 나이가 20세 이하인 선수 - 크롤링할때 age를 int가 아닌 스트링으로 넣으면 에러 발생
df_load[df_load["age"] <= 20 ]

,number,name,position,nationality,age,team,market_val
9,10,Erling Haaland,Centre-Forward,Norway,20,Borussia Dortmund,€100.00m
10,11,Jadon Sancho,Right Winger,England,20,Borussia Dortmund,€100.00m
18,19,Ansu Fati,Left Winger,Spain,18,FC Barcelona,€80.00m
19,20,Alphonso Davies,Left-Back,Canada,20,Bayern Munich,€80.00m
45,46,Eduardo Camavinga,Central Midfield,France,18,Stade Rennais FC,€60.00m
46,47,Phil Foden,Central Midfield,England,20,Manchester City,€60.00m

In [19]:
# 나이가 30이상인 선수의 name, team, market_val
df_load.loc[df_load["age"]>=30, ["name", "team", "market_val"]]

            name          team market_val
23  Lionel Messi  FC Barcelona    €80.00m

In [20]:
# 나이가 30이상인 선수의 name, team, market_val
df_load[df_load["age"] >= 30][["name", "team", "market_val"]]

            name          team market_val
23  Lionel Messi  FC Barcelona    €80.00m

In [22]:
df_load.sort_index(ascending = False)[:5]

,number,name,position,nationality,age,team,market_val
49,50,Dayot Upamecano,Centre-Back,France,22,RB Leipzig,€60.00m
48,49,Gabriel Jesus,Centre-Forward,Brazil,23,Manchester City,€60.00m
47,48,Richarlison,Centre-Forward,Brazil,23,Everton FC,€60.00m
46,47,Phil Foden,Central Midfield,England,20,Manchester City,€60.00m
45,46,Eduardo Camavinga,Central Midfield,France,18,Stade Rennais FC,€60.00m

In [5]:
df_load.sort_values("age", ascending=True).head()

,number,name,position,nationality,age,team,market_val
45,46,Eduardo Camavinga,Central Midfield,France,18,Stade Rennais FC,€60.00m
18,19,Ansu Fati,Left Winger,Spain,18,FC Barcelona,€80.00m
46,47,Phil Foden,Central Midfield,England,20,Manchester City,€60.00m
19,20,Alphonso Davies,Left-Back,Canada,20,Bayern Munich,€80.00m
10,11,Jadon Sancho,Right Winger,England,20,Borussia Dortmund,€100.00m

In [6]:
# 인덱스를 number로
df_load.set_index("number").head()

,name,position,nationality,age,team,market_val
number,,,,,,
1,Kylian Mbappé,Centre-Forward,France,22,Paris Saint-Germain,€180.00m
2,Neymar,Left Winger,Brazil,28,Paris Saint-Germain,€128.00m
3,Sadio Mané,Left Winger,Senegal,28,Liverpool FC,€120.00m
4,Mohamed Salah,Right Winger,Egypt,28,Liverpool FC,€120.00m
5,Harry Kane,Centre-Forward,England,27,Tottenham Hotspur,€120.00m

In [8]:
df_load.rename(columns={"team":"club", "name":"fullname"}, inplace=True) #inplace 저장여부

In [9]:
df_load

,number,fullname,position,nationality,age,club,market_val
0,1,Kylian Mbappé,Centre-Forward,France,22,Paris Saint-Germain,€180.00m
1,2,Neymar,Left Winger,Brazil,28,Paris Saint-Germain,€128.00m
2,3,Sadio Mané,Left Winger,Senegal,28,Liverpool FC,€120.00m
3,4,Mohamed Salah,Right Winger,Egypt,28,Liverpool FC,€120.00m
4,5,Harry Kane,Centre-Forward,England,27,Tottenham Hotspur,€120.00m
5,6,Kevin De Bruyne,Attacking Midfield,Belgium,29,Manchester City,€120.00m
6,7,Trent Alexander-Arnold,Right-Back,England,22,Liverpool FC,€110.00m
7,8,Raheem Sterling,Left Winger,England,26,Manchester City,€110.00m
8,9,João Félix,Second Striker,Portugal,21,Atlético Madrid,€100.00m
9,10,Erling Haaland,Centre-Forward,Norway,20,Borussia Dortmund,€100.00m
10,11,Jadon Sancho,Right Winger,England,20,Borussia Dortmund,€100.00m
11,12,Bruno Fernandes,Attacking Midfield,Portugal,26,Manchester United,€90.00m
12,13,Serge Gnabry,Right Winger,Germany,25,Bayern Munich,€90.00m
13,14,Jan Oblak,Goalkeeper,Slovenia,28,Atlético Madrid,€90.00m
14,15,Romelu Lukaku,Centre-Forward,Belgium,27,Inter Milan,€90.00m
15,16,Heung-min Son,Left Winger,"Korea, South",28,Tottenham Hotspur,€90.00m
16,17,Joshua Kimmich,Defensive Midfield,Germany,25,Bayern Munich,€85.00m
17,18,Kai Havertz,Attacking Midfield,Germany,21,Chelsea FC,€81.00m
18,19,Ansu Fati,Left Winger,Spain,18,FC Barcelona,€80.00m
19,20,Alphonso Davies,Left-Back,Canada,20,Bayern Munich,€80.00m
20,21,Marcus Rashford,Left Winger,England,23,Manchester United,€80.00m
21,22,Virgil van Dijk,Centre-Back,Netherlands,29,Liverpool FC,€80.00m
22,23,Alisson,Goalkeeper,Brazil,28,Liverpool FC,€80.00m
23,24,Lionel Messi,Right Winger,Argentina,33,FC Barcelona,€80.00m
24,25,Matthijs de Ligt,Centre-Back,Netherlands,21,Juventus FC,€75.00m
25,26,Andrew Robertson,Left-Back,Scotland,26,Liverpool FC,€75.00m
26,27,Thibaut Courtois,Goalkeeper,Belgium,28,Real Madrid,€75.00m
27,28,Marc-André ter Stegen,Goalkeeper,Germany,28,FC Barcelona,€75.00m
28,29,Roberto Firmino,Centre-Forward,Brazil,29,Liverpool FC,€72.00m
29,30,Lautaro Martínez,Centre-Forward,Argentina,23,Inter Milan,€70.00m
30,31,Federico Valverde,Central Midfield,Uruguay,22,Real Madrid,€70.00m
31,32,Mikel Oyarzabal,Left Winger,Spain,23,Real Sociedad,€70.00m
32,33,Sergej Milinkovic-Savic,Central Midfield,Serbia,25,SS Lazio,€70.00m
33,34,Bernardo Silva,Right Winger,Portugal,26,Manchester City,€70.00m
34,35,Paulo Dybala,Second Striker,Argentina,27,Juventus FC,€70.00m
35,36,Leroy Sané,Left Winger,Germany,25,Bayern Munich,€70.00m
36,37,Marquinhos,Centre-Back,Brazil,26,Paris Saint-Germain,€70.00m
37,38,Timo Werner,Centre-Forward,Germany,24,Chelsea FC,€70.00m
38,39,Raphaël Varane,Centre-Back,France,27,Real Madrid,€70.00m
39,40,Casemiro,Defensive Midfield,Brazil,28,Real Madrid,€70.00m
40,41,Frenkie de Jong,Central Midfield,Netherlands,23,FC Barcelona,€65.00m
41,42,José María Giménez,Centre-Back,Uruguay,26,Atlético Madrid,€65.00m
42,43,Paul Pogba,Central Midfield,France,27,Manchester United,€65.00m
43,44,David Alaba,Centre-Back,Austria,28,Bayern Munich,€65.00m
44,45,Rodri,Defensive Midfield,Spain,24,Manchester City,€64.00m
45,46,Eduardo Camavinga,Central Midfield,France,18,Stade Rennais FC,€60.00m
46,47,Phil Foden,Central Midfield,England,20,Manchester City,€60.00m
47,48,Richarlison,Centre-Forward,Brazil,23,Everton FC,€60.00m
48,49,Gabriel Jesus,Centre-Forward,Brazil,23,Manchester City,€60.00m
49,50,Dayot Upamecano,Centre-Back,France,22,RB Leipzig,€60.00m

데이터 전처리
유로표시를 숫자로만

In [13]:
df_load["market_val"]= df_load["market_val"].str.replace("€", "")  # 정규표현식으로 한번에

In [14]:
df_load["market_val"] = df_load["market_val"].str.replace("m", "").astype(float)

In [15]:
df_load.head()

,number,fullname,position,nationality,age,club,market_val
0,1,Kylian Mbappé,Centre-Forward,France,22,Paris Saint-Germain,180.0
1,2,Neymar,Left Winger,Brazil,28,Paris Saint-Germain,128.0
2,3,Sadio Mané,Left Winger,Senegal,28,Liverpool FC,120.0
3,4,Mohamed Salah,Right Winger,Egypt,28,Liverpool FC,120.0
4,5,Harry Kane,Centre-Forward,England,27,Tottenham Hotspur,120.0

In [17]:
df_load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   number       50 non-null     object
 1   fullname     50 non-null     object
 2   position     50 non-null     object
 3   nationality  50 non-null     object
 4   age          50 non-null     int64
 5   club         50 non-null     object
 6   market_val   50 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 2.9+ KB

In [19]:
df_load["시장가치(억)"] =df_load["market_val"]*13

In [20]:
df_load

,number,fullname,position,nationality,age,club,market_val,시장가치(억)
0,1,Kylian Mbappé,Centre-Forward,France,22,Paris Saint-Germain,180.0,2340.0
1,2,Neymar,Left Winger,Brazil,28,Paris Saint-Germain,128.0,1664.0
2,3,Sadio Mané,Left Winger,Senegal,28,Liverpool FC,120.0,1560.0
3,4,Mohamed Salah,Right Winger,Egypt,28,Liverpool FC,120.0,1560.0
4,5,Harry Kane,Centre-Forward,England,27,Tottenham Hotspur,120.0,1560.0
5,6,Kevin De Bruyne,Attacking Midfield,Belgium,29,Manchester City,120.0,1560.0
6,7,Trent Alexander-Arnold,Right-Back,England,22,Liverpool FC,110.0,1430.0
7,8,Raheem Sterling,Left Winger,England,26,Manchester City,110.0,1430.0
8,9,João Félix,Second Striker,Portugal,21,Atlético Madrid,100.0,1300.0
9,10,Erling Haaland,Centre-Forward,Norway,20,Borussia Dortmund,100.0,1300.0
10,11,Jadon Sancho,Right Winger,England,20,Borussia Dortmund,100.0,1300.0
11,12,Bruno Fernandes,Attacking Midfield,Portugal,26,Manchester United,90.0,1170.0
12,13,Serge Gnabry,Right Winger,Germany,25,Bayern Munich,90.0,1170.0
13,14,Jan Oblak,Goalkeeper,Slovenia,28,Atlético Madrid,90.0,1170.0
14,15,Romelu Lukaku,Centre-Forward,Belgium,27,Inter Milan,90.0,1170.0
15,16,Heung-min Son,Left Winger,"Korea, South",28,Tottenham Hotspur,90.0,1170.0
16,17,Joshua Kimmich,Defensive Midfield,Germany,25,Bayern Munich,85.0,1105.0
17,18,Kai Havertz,Attacking Midfield,Germany,21,Chelsea FC,81.0,1053.0
18,19,Ansu Fati,Left Winger,Spain,18,FC Barcelona,80.0,1040.0
19,20,Alphonso Davies,Left-Back,Canada,20,Bayern Munich,80.0,1040.0
20,21,Marcus Rashford,Left Winger,England,23,Manchester United,80.0,1040.0
21,22,Virgil van Dijk,Centre-Back,Netherlands,29,Liverpool FC,80.0,1040.0
22,23,Alisson,Goalkeeper,Brazil,28,Liverpool FC,80.0,1040.0
23,24,Lionel Messi,Right Winger,Argentina,33,FC Barcelona,80.0,1040.0
24,25,Matthijs de Ligt,Centre-Back,Netherlands,21,Juventus FC,75.0,975.0
25,26,Andrew Robertson,Left-Back,Scotland,26,Liverpool FC,75.0,975.0
26,27,Thibaut Courtois,Goalkeeper,Belgium,28,Real Madrid,75.0,975.0
27,28,Marc-André ter Stegen,Goalkeeper,Germany,28,FC Barcelona,75.0,975.0
28,29,Roberto Firmino,Centre-Forward,Brazil,29,Liverpool FC,72.0,936.0
29,30,Lautaro Martínez,Centre-Forward,Argentina,23,Inter Milan,70.0,910.0
30,31,Federico Valverde,Central Midfield,Uruguay,22,Real Madrid,70.0,910.0
31,32,Mikel Oyarzabal,Left Winger,Spain,23,Real Sociedad,70.0,910.0
32,33,Sergej Milinkovic-Savic,Central Midfield,Serbia,25,SS Lazio,70.0,910.0
33,34,Bernardo Silva,Right Winger,Portugal,26,Manchester City,70.0,910.0
34,35,Paulo Dybala,Second Striker,Argentina,27,Juventus FC,70.0,910.0
35,36,Leroy Sané,Left Winger,Germany,25,Bayern Munich,70.0,910.0
36,37,Marquinhos,Centre-Back,Brazil,26,Paris Saint-Germain,70.0,910.0
37,38,Timo Werner,Centre-Forward,Germany,24,Chelsea FC,70.0,910.0
38,39,Raphaël Varane,Centre-Back,France,27,Real Madrid,70.0,910.0
39,40,Casemiro,Defensive Midfield,Brazil,28,Real Madrid,70.0,910.0
40,41,Frenkie de Jong,Central Midfield,Netherlands,23,FC Barcelona,65.0,845.0
41,42,José María Giménez,Centre-Back,Uruguay,26,Atlético Madrid,65.0,845.0
42,43,Paul Pogba,Central Midfield,France,27,Manchester United,65.0,845.0
43,44,David Alaba,Centre-Back,Austria,28,Bayern Munich,65.0,845.0
44,45,Rodri,Defensive Midfield,Spain,24,Manchester City,64.0,832.0
45,46,Eduardo Camavinga,Central Midfield,France,18,Stade Rennais FC,60.0,780.0
46,47,Phil Foden,Central Midfield,England,20,Manchester City,60.0,780.0
47,48,Richarlison,Centre-Forward,Brazil,23,Everton FC,60.0,780.0
48,49,Gabriel Jesus,Centre-Forward,Brazil,23,Manchester City,60.0,780.0
49,50,Dayot Upamecano,Centre-Back,France,22,RB Leipzig,60.0,780.0

In [21]:
# 숫자형 데이터 통계
df_load.describe()

            age  market_val      시장가치(억)
count  50.00000   50.000000    50.000000
mean   24.88000   83.400000  1084.200000
std     3.30516   23.066895   299.869632
min    18.00000   60.000000   780.000000
25%    22.25000   70.000000   910.000000
50%    25.50000   75.000000   975.000000
75%    28.00000   90.000000  1170.000000
max    33.00000  180.000000  2340.000000

In [22]:
# 몸값 합계
df_load["시장가치(억)"].sum()

54210.0

In [23]:
# 선수들이 속한 나라가 가장 많은 곳은? 최빈값 여러개가 있는것
df_load["nationality"].mode()

0    Brazil
dtype: object

In [24]:
# 국적이 브라질인 선수들은?
df_load[df_load["nationality"] == "Brazil"]

,number,fullname,position,nationality,age,club,market_val,시장가치(억)
1,2,Neymar,Left Winger,Brazil,28,Paris Saint-Germain,128.0,1664.0
22,23,Alisson,Goalkeeper,Brazil,28,Liverpool FC,80.0,1040.0
28,29,Roberto Firmino,Centre-Forward,Brazil,29,Liverpool FC,72.0,936.0
36,37,Marquinhos,Centre-Back,Brazil,26,Paris Saint-Germain,70.0,910.0
39,40,Casemiro,Defensive Midfield,Brazil,28,Real Madrid,70.0,910.0
47,48,Richarlison,Centre-Forward,Brazil,23,Everton FC,60.0,780.0
48,49,Gabriel Jesus,Centre-Forward,Brazil,23,Manchester City,60.0,780.0

In [45]:
df_load[df_load["nationality"] == "Brazil"].count()

number         7
fullname       7
position       7
nationality    7
age            7
club           7
market_val     7
시장가치(억)        7
dtype: int64

Groupby
국적별로

In [28]:
df_load.groupby("nationality")

In [30]:
nation_df = df_load.groupby("nationality")

In [32]:
nation_df.size()

nationality
Argentina       3
Austria         1
Belgium         3
Brazil          7
Canada          1
Egypt           1
England         6
France          5
Germany         6
Korea, South    1
Netherlands     3
Norway          1
Portugal        3
Scotland        1
Senegal         1
Serbia          1
Slovenia        1
Spain           3
Uruguay         2
dtype: int64

In [34]:
# 데이터 총합
nation_df.sum()

              age  market_val  시장가치(억)
nationality
Argentina      83       220.0   2860.0
Austria        28        65.0    845.0
Belgium        84       285.0   3705.0
Brazil        185       540.0   7020.0
Canada         20        80.0   1040.0
Egypt          28       120.0   1560.0
England       138       580.0   7540.0
France        116       435.0   5655.0
Germany       148       471.0   6123.0
Korea, South   28        90.0   1170.0
Netherlands    73       220.0   2860.0
Norway         20       100.0   1300.0
Portugal       73       260.0   3380.0
Scotland       26        75.0    975.0
Senegal        28       120.0   1560.0
Serbia         25        70.0    910.0
Slovenia       28        90.0   1170.0
Spain          65       214.0   2782.0
Uruguay        48       135.0   1755.0

In [36]:
# 나라별 시장가치 총합
nation_df["시장가치(억)"].sum()

nationality
Argentina       2860.0
Austria          845.0
Belgium         3705.0
Brazil          7020.0
Canada          1040.0
Egypt           1560.0
England         7540.0
France          5655.0
Germany         6123.0
Korea, South    1170.0
Netherlands     2860.0
Norway          1300.0
Portugal        3380.0
Scotland         975.0
Senegal         1560.0
Serbia           910.0
Slovenia        1170.0
Spain           2782.0
Uruguay         1755.0
Name: 시장가치(억), dtype: float64

클럽별로 몸값 정렬

In [38]:
club_df=df_load.groupby("club")

In [39]:
club_df

In [40]:
club_df.sum()

                     age  market_val  시장가치(억)
club
Atlético Madrid       75       255.0   3315.0
Bayern Munich        123       390.0   5070.0
Borussia Dortmund     40       200.0   2600.0
Chelsea FC            45       151.0   1963.0
Everton FC            23        60.0    780.0
FC Barcelona         102       300.0   3900.0
Inter Milan           50       160.0   2080.0
Juventus FC           48       145.0   1885.0
Liverpool FC         190       657.0   8541.0
Manchester City      148       484.0   6292.0
Manchester United     76       235.0   3055.0
Paris Saint-Germain   76       378.0   4914.0
RB Leipzig            22        60.0    780.0
Real Madrid          105       285.0   3705.0
Real Sociedad         23        70.0    910.0
SS Lazio              25        70.0    910.0
Stade Rennais FC      18        60.0    780.0
Tottenham Hotspur     55       210.0   2730.0

In [44]:
club_df.sum().sort_values("시장가치(억)", ascending=False)

                     age  market_val  시장가치(억)
club
Liverpool FC         190       657.0   8541.0
Manchester City      148       484.0   6292.0
Bayern Munich        123       390.0   5070.0
Paris Saint-Germain   76       378.0   4914.0
FC Barcelona         102       300.0   3900.0
Real Madrid          105       285.0   3705.0
Atlético Madrid       75       255.0   3315.0
Manchester United     76       235.0   3055.0
Tottenham Hotspur     55       210.0   2730.0
Borussia Dortmund     40       200.0   2600.0
Inter Milan           50       160.0   2080.0
Chelsea FC            45       151.0   1963.0
Juventus FC           48       145.0   1885.0
Real Sociedad         23        70.0    910.0
SS Lazio              25        70.0    910.0
Everton FC            23        60.0    780.0
RB Leipzig            22        60.0    780.0
Stade Rennais FC      18        60.0    780.0